<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <br>
            <div class="navbar-header">
                <a class="navbar-brand" class="active" href="/#"><font size="10">ShoesShop </font> </a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="#">NEW</a></li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">BRAND<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Adidas">Adidas</a></li>
                        <li><a href="/Nike">Nike</a></li>
                        <li><a href="/Vans">Vans</a></li>
                    </ul>
                </li>
                <li><a href="/sale">SALE</a></li>
                <li><a href="/inputshoes_form_helper">INPUT SHOES</a></li>
                <li><a href="/inputshoes_form_list">INPUT SHOES LIST</a></li>
                <li><a href="/inputshoes_picture_form_list">INPUT SHOES LIST PICTURE</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span>
                    Register</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
                    Login</a></li>
            </ul>


        </div>
    </nav>
</body>