<br><br><br><br>
<form action="/showregister" method="post">
    <div class="container">
        <div class="panel panel-default">

            <div class="panel-heading"><h2><b>Register</b></h2></div>
            <div class="panel-body">
                <table class="table">

                    <tr><td>Username : </td><td><input type="text" name="username" size="50" maxlength="50"></td></tr>
                    <tr><td>Password : </td><td><input type="text" name="password" size="50" maxlength="50"></td></tr>
                    <tr><td>Name : </td><td><input type="text" name="name" size="50" maxlength="50"></td></tr>
                    <tr><td>Address : </td><td><textarea name="add" cols="52" rows="5"></textarea></td></tr>
                    <tr><td>E-mail : </td><td><input type="text" name="email" size="50" maxlength="50"></td></tr>
                    <tr><td>Tel : </td><td><input type="number" name="tel" size="10" maxlength="10"></td></tr>
                    <tr><td></td><td></td></tr>


                </table>
                <center><input type="submit" value="Submit" class="btn btn-success">
                    <input type="reset" value="Reset" class="btn btn-danger"></center>
            </div>
        </div>
    </div>
</form>