
<div class="row">
    <div class="col-lg-12">
    @header_page()
    </div>
    <div class="row">
        <div class="col-md-0"></div>
        <div class="col-md-12">
            <br><br><br><br><br>
            <div class="container">
                <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/Adidas">
                        <img src="/assets/images/sale1.jpg" alt="Lights" style="width: 100% ">
                        <div class="caption">
                            <center><h4><p>Swift Run Shoes</p></h4></center>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/Adidas">
                        <img src="/assets/images/sale1.jpg" alt="Lights" style="width: 100% ">
                        <div class="caption">
                            <center><h4><p>Swift Run Shoes</p></h4></center>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/Adidas">
                        <img src="/assets/images/sale1.jpg" alt="Lights" style="width: 100% ">
                        <div class="caption">
                            <center><h4><p>Swift Run Shoes</p></h4></center>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/Adidas">
                        <img src="/assets/images/sale1.jpg" alt="Lights" style="width: 100% ">
                        <div class="caption">
                            <center><h4><p>Swift Run Shoes</p></h4></center>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

