@(username:String,password:String,name:String,add:String,email:String,tel:String)

<br><br><br><br>
<div class="container">
    <div class="panel panel-default">

        <div class="panel-heading"><h2><b>Register</b></h2></div>
        <div class="panel-body">
            <table class="table">

                <tr><td>Username : </td><td> @username </td></tr>
                <tr><td>Password : </td><td> @password </td></tr>
                <tr><td>Name : </td><td> @name </td></tr>
                <tr><td>Address : </td><td> @add </td></tr>
                <tr><td>E-mail : </td><td> @email </td></tr>
                <tr><td>Tel : </td><td> @tel </td></tr>
                <tr><td></td><td></td></tr>

            </table>
            <center><input type="submit" value="Submit" class="btn btn-success">
                <input type="reset" value="Reset" class="btn btn-danger"></center>
        </div>
    </div>
</div>