@(s1:Shoes,s2:Shoes,s3:Shoes,s4:Shoes,s5:Shoes,s6:Shoes,s7:Shoes,s8:Shoes)

<div class="row">
    <div class="col-lg-12">
        @header_page()
    </div>
</div>

<div class="col-md-0"></div>
<div class="col-md-12">
    <br><br><br><br><br>
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/17.jpg" alt="Lights" style="width: 100%">
                    <div class="caption">
                        รหัส : @s1.getId()<br>
                        ชื่อ  : @s1.getName()<br>
                        ราคา : @s1.getAmount()<br>
                        จำนวน : @s1.getUnit()<br>
                        แบนด์ : @s1.getBrand()<br>
                        ไซต์ : @s1.getSize()<br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/18.jpg" alt="Lights" style="width: 100%">
                    <div class="caption">
                        รหัส : @s2.getId()<br>
                        ชื่อ  : @s2.getName()<br>
                        ราคา : @s2.getAmount()<br>
                        จำนวน : @s2.getUnit()<br>
                        แบนด์ : @s2.getBrand()<br>
                        ไซต์ : @s2.getSize()<br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/19.jpg" alt="Lights" style="width: 100%">
                    <div class="caption">
                        รหัส : @s3.getId()<br>
                        ชื่อ  : @s3.getName()<br>
                        ราคา : @s3.getAmount()<br>
                        จำนวน : @s3.getUnit()<br>
                        แบนด์ : @s3.getBrand()<br>
                        ไซต์ : @s3.getSize()<br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/20.jpg" alt="Lights" style="width: 100%">
                    <div class="caption">
                        รหัส : @s4.getId()<br>
                        ชื่อ  : @s4.getName()<br>
                        ราคา : @s4.getAmount()<br>
                        จำนวน : @s4.getUnit()<br>
                        แบนด์ : @s4.getBrand()<br>
                        ไซต์ : @s4.getSize()<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-0"></div>
<div class="col-md-12">

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/21.jpg" alt="Lights" style="width: 100%">
                    <div class="caption">
                        รหัส : @s5.getId()<br>
                        ชื่อ  : @s5.getName()<br>
                        ราคา : @s5.getAmount()<br>
                        จำนวน : @s5.getUnit()<br>
                        แบนด์ : @s5.getBrand()<br>
                        ไซต์ : @s5.getSize()<br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/222.jpg" alt="Lights" style="width: 100%">
                    <div class="caption">
                        รหัส : @s6.getId()<br>
                        ชื่อ  : @s6.getName()<br>
                        ราคา : @s6.getAmount()<br>
                        จำนวน : @s6.getUnit()<br>
                        แบนด์ : @s6.getBrand()<br>
                        ไซต์ : @s6.getSize()<br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/23.jpg" alt="Lights" style="width: 100%">
                    <div class="caption">
                        รหัส : @s7.getId()<br>
                        ชื่อ  : @s7.getName()<br>
                        ราคา : @s7.getAmount()<br>
                        จำนวน : @s7.getUnit()<br>
                        แบนด์ : @s7.getBrand()<br>
                        ไซต์ : @s7.getSize()<br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/24.jpg" alt="Lights" style="width: 100%">
                    <div class="caption">
                        รหัส : @s8.getId()<br>
                        ชื่อ  : @s8.getName()<br>
                        ราคา : @s8.getAmount()<br>
                        จำนวน : @s8.getUnit()<br>
                        แบนด์ : @s8.getBrand()<br>
                        ไซต์ : @s8.getSize()<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>